.deposit-box {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    transition: background-color 0.3s ease;
}

.deposit-box.dragover {
    background-color: rgba(128, 0, 128, 0.5); /* Purple with 0.5 opacity */
}

body.dragging {
    background-color: rgba(128, 0, 128, 0.5); /* Purple with 0.5 opacity */
}

#page-content {
    display: none;
}

.hidden-input {
    display: none;
}

#file-name-label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.hidden-button {
    display: none;
}

#remove-file-button {
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f44336; /* Red background */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    right: -45%;
    position: relative;
}

#remove-file-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
    color: #fff;
}
