body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
}

.main_container{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
}
.signup-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.signup-container input[type="text"], 
.signup-container input[type="email"], 
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.signup-container .submit-button {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}